.call-form-btn {
 position: fixed;
 bottom: 0%;
 right: 0%;
 width: 100px;
 height: 100px;
 background-color: transparent;
 cursor: pointer;
 z-index: 200000 !important;
 -webkit-backface-visibility: hidden;
 -webkit-transform: translateZ(0);
 -webkit-transition: 'visibility .5s, opacity .25s';
 -moz-transition: 'visibility .5s, opacity .25s';
 -o-transition: 'visibility .5s, opacity .25s';
 transition: 'visibility .5s, opacity .25s';
 opacity: 0.4;
}

.call-form__input {
  font-size: 14px;
}

.call-form-btn:hover {
  opacity: .95;
}
.call-form-btn:hover .call-form-btn__circle {
 border-color: #ffffff;
 opacity: .5;
 -webkit-animation: btn-fade 1s infinite ease-in-out;
 -moz-animation: btn-fade 1s infinite ease-in-out;
 -ms-animation: btn-fade 1s infinite ease-in-out;
 -o-animation: btn-fade 1s infinite ease-in-out;
 animation: btn-fade 1s infinite ease-in-out;
}


.call-form-btn:hover .call-form-btn__img {
 opacity: 1;
 -webkit-animation: phone-bounce 1s infinite ease-in-out;
 -moz-animation: phone-bounce 1s infinite ease-in-out;
 -ms-animation: phone-bounce 1s infinite ease-in-out;
 -o-animation: phone-bounce 1s infinite ease-in-out;
 animation: phone-bounce 1s infinite ease-in-out;
}

.call-form-btn__circle {
 width: 56px;
 height: 56px;
 top: 20px;
 left: 20px;
 position: absolute;
 background-color: transparent;
 -webkit-border-radius: 16px;
 -moz-border-radius: 16px;
 border-radius: 16px;
 border: 1px solid #ffffff;
 opacity: .5;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 -webkit-animation: btn-fade 2.2s infinite ease-in-out;
 -moz-animation: btn-fade 2.2s infinite ease-in-out;
 -ms-animation: btn-fade 2.2s infinite ease-in-out;
 -o-animation: btn-fade 2.2s infinite ease-in-out;
 animation: btn-fade 2.2s infinite ease-in-out;
 -webkit-transition: all .5s;
 -moz-transition: all .5s;
 -o-transition: all .5s;
 transition: all .5s;
 -webkit-transform-origin: 50% 50%;
 -moz-transform-origin: 50% 50%;
 -ms-transform-origin: 50% 50%;
 -o-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
 z-index: 2;
}

.call-form-btn__fill {
 width: 56px;
 height: 56px;
 top: 20px;
 left: 20px;
 position: absolute;
 background: linear-gradient(127.96deg,#8b24f2 26.88%,#45baf4 85.97%);
 background-color: #00b494;
 background-size: 59px;
 -webkit-border-radius: 16px;
 -moz-border-radius: 16px;
 border-radius: 16px;
 -webkit-transition: all .5s;
 -moz-transition: all .5s;
 -o-transition: all .5s;
 transition: all .5s;
 -webkit-transform-origin: 50% 50%;
 -moz-transform-origin: 50% 50%;
 -ms-transform-origin: 50% 50%;
 -o-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
}

.call-form__conf {
  display: flex !important;
  margin-top: 10px;
}

.call-form__conf label {
  font-weight: 700 !important;
  color: #0090d9;
  display: inline !important;
  font-size: 10px !important;
  cursor: pointer;
}

.call-form__conf label:hover {
  color: #23527c;
}

.call-form__privacy-info {
  cursor: pointer;
}

#call-form__privacy-checkbox {
  display: none;
}

#call-form__privacy-checkbox:checked ~ .call-form__privacy {
  display: block;

}

.call-form__privacy {
  display: none;
  font-size: 13px;
  margin-top: 20px;
  max-height: 300px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #999;
}

.call-form-btn__img {
 width: 56px;
 height: 56px;
 top: 20px;
 left: 20px;
 position: absolute;
 background-image: url('../img/phone.png');
 background-position: center center;
 background-repeat: no-repeat;
 opacity: .7;
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 border-radius: 100%;
 -webkit-animation: phone-bounce 0s infinite ease-in-out;
 -moz-animation: phone-bounce 0s infinite ease-in-out;
 -ms-animation: phone-bounce 0s infinite ease-in-out;
 -o-animation: phone-bounce 0s infinite ease-in-out;
 animation: phone-bounce 0s infinite ease-in-out;
 -webkit-transform-origin: 50% 50%;
 -moz-transform-origin: 50% 50%;
 -ms-transform-origin: 50% 50%;
 -o-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
}

#call-form-popup {
  display: flex;
  flex-direction: column;
}

.call-form-popup__field {
  margin-bottom: 10px;
}

.call-form__input-name {
  font-size: 14px;
}

@media (min-width: 600px) {
  #call-form-popup {
      flex-direction: row;
      align-items: flex-end;
      flex-wrap: wrap;
  }

  .call-form-popup__field {
    margin-bottom: 0;
  }
}

.call-form-popup {
 display: none;
 flex-direction: column;
 min-width: 260px;
 max-width: 90%;

 padding: 25px 39px !important;
 padding-top: 22px !important;

 background-color: #fff;

 box-shadow: 0 8px 32px rgba(51,51,51,0.7);
 transition: top .2s ease-out .1s, opacity .5s ease .1s;
}

.call-form-popup__desc {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 7px;
}

.call-form-popup__oper {
  font-size: 16px;
  margin: 0;
  margin-bottom: 15px;
}

.call-form-popup label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.call-form-popup input {
  flex-grow: 1;
  height: 40px;
  max-width: 205px;
  padding: 0 10px;
  margin-right: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.call-form-popup__submit {
  font-size: 14px !important;

  background: linear-gradient(127.96deg,#8b24f2 26.88%,#45baf4 85.97%);
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(27,42,48,0.2);
  text-shadow: none;
  float: left;
  width: auto;
  height: 40px;
  line-height: normal;
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
  outline: none;
}

.call-form-popup__conf {
  font-size: 10px;
  margin-top: 8px;
  max-width: 400px;
}

.call-form-popup__submit:hover {
  background: linear-gradient(127.96deg,#45baf4 26.88%,#8b24f2 85.97%);
}

.call-form-popup__field {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1260px) {
  .call-form-popup {
    width: 560px;
    height: auto;

    cursor: default !important;
  }
}
