@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/ubuntulight.woff') format('woff'), url('../fonts/Ubuntu/ubuntulight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/ubuntu.woff') format('woff'), url('../fonts/Ubuntu/ubuntu.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/ubuntumedium.woff') format('woff'), url('../fonts/Ubuntu/ubuntumedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/ubuntubold.woff') format('woff'), url('../fonts/Ubuntu/ubuntubold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/opensanslight.woff') format('woff'), url('../fonts/OpenSans/opensanslight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/opensans.woff') format('woff'), url('../fonts/OpenSans/opensans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/opensansbold.woff') format('woff'), url('../fonts/OpenSans/opensansbold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
.fancy-mixin {
  display: none;
  cursor: default;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
html *,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html *::after,
body *::after,
html *::before,
body *::before {
  box-sizing: border-box;
  display: inline-block;
}
html * :active,
body * :active,
html * :hover,
body * :hover,
html * :focus,
body * :focus,
html * select,
body * select,
html * option,
body * option {
  outline: 0;
  outline-offset: 0;
}
input {
  background-color: transparent;
  border: none;
  font-family: 'Ubuntu', sans-serif;
}
button {
  border-color: transparent;
  padding: 0;
}
h1,
h2,
p,
span {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  /* убираем подчеркивания*/
  color: inherit;
}
ul {
  list-style: none;
  /* убираем маркировку списка*/
}
.f {
  display: flex;
}
.f-row {
  display: flex;
  flex-flow: row nowrap;
}
.f-col {
  display: flex;
  flex-flow: column nowrap;
}
.f-wrap {
  flex-wrap: wrap;
}
.container {
  width: 100%;
  padding: 0 15px;
}
.transition-input {
  transition: 0.3s ease-out;
}
.input-field {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.input-field input {
  width: 100%;
  border: 1px solid;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 2.5;
  transition: 0.3s ease-out;
  padding: 0 30px;
}
.input-field label {
  font-size: 20px;
  font-weight: 400;
  line-height: 2.5;
  color: white;
  position: absolute;
  left: 30px;
  transition: 0.3s ease-out;
}
/* ГЛАВНЫЙ РАЗВОРОТ */
.promo__input-field {
  overflow-y: hidden;
}
.promo__input-field label {
  font-weight: 400;
  color: #ffffff;
  transition: 0.5s ease;
  z-index: 1;
}
.promo__input-field input {
  font-weight: 400;
  width: 230px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
  z-index: 10;
}
.promo__input-field input:focus,
.promo__input-field input:hover {
  border-color: #e9ff53;
}
.promo__input-field.label--filled > label,
.promo__input-field input:focus ~ label,
.promo__input-field label:focus {
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
  font-size: 20px;
}
/*    .promo__input-field    */
.menu-callback-form__input-field label {
  color: #a8acb1;
  z-index: 1;
  transition: 0.4s ease;
}
.menu-callback-form__input-field input {
  color: #a8acb1;
  border-color: #a8acb1;
  background-color: transparent;
  z-index: 10;
}
.menu-callback-form__input-field input:focus,
.menu-callback-form__input-field input:hover {
  border-color: #24aef2;
}
.menu-callback-form__input-field.label--filled > label,
.menu-callback-form__input-field input:focus ~ label,
.menu-callback-form__input-field label:focus {
  -webkit-transform: translate(0, -17px);
          transform: translate(0, -17px);
  font-size: 10px;
}
/*    .menu-callback-form__input-field    */
/* ПРЕДПОСЛЕДНЯЯ ФОРМА */
.buy-now__input-field label {
  color: #ffffff;
  z-index: 1;
  transition: 0.4s ease;
}
.buy-now__input-field input {
  border-width: 2px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
}
.buy-now__input-field.label--filled > label,
.buy-now__input-field input:focus ~ label,
.buy-now__input-field label:focus {
  -webkit-transform: translate(0, -30px);
          transform: translate(0, -30px);
  opacity: 0;
}
.buy-now__input-field.__hover:hover {
  cursor: text;
}
.buy-now__input-field.__hover:hover label,
.buy-now__input-field.__hover:hover input {
  cursor: text;
}
/* ПОСЛЕДНЯЯ ФОРМА */
.callback-last__input-field label {
  color: #ffffff;
  z-index: 1;
  transition: 0.4s ease;
}
.callback-last__input-field input {
  width: 250px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
}
.callback-last__input-field input:focus,
.callback-last__input-field input:hover {
  box-shadow: 0px 0px 0px 1px white;
}
.callback-last__input-field.label--filled > label,
.callback-last__input-field input:focus ~ label,
.callback-last__input-field label:focus {
  -webkit-transform: translate(0, -17px);
          transform: translate(0, -17px);
  font-size: 10px;
}
/*   DETAIL   */
.catalog-card-detail__input-field label {
  color: #9da0a4;
  z-index: 1;
  transition: 0.4s ease;
}
.catalog-card-detail__input-field input {
  color: #9da0a4;
  border-color: #d8dde3;
  background-color: transparent;
  z-index: 10;
}
.catalog-card-detail__input-field input:focus,
.catalog-card-detail__input-field input:hover {
  border-color: #24aef2;
}
.catalog-card-detail__input-field.label--filled > label,
.catalog-card-detail__input-field input:focus ~ label,
.catalog-card-detail__input-field label:focus {
  -webkit-transform: translate(0, -17px);
          transform: translate(0, -17px);
  font-size: 10px;
}
/* КУПИТЬ В 1 КЛИК */
.catalog-card-buy__input-field label {
  color: white;
  z-index: 1;
  font-family: 'Arial', sans-serif;
}
.catalog-card-buy__input-field input {
  color: white;
  border-color: white;
  background-color: transparent;
  z-index: 10;
}
.catalog-card-buy__input-field input:focus,
.catalog-card-buy__input-field input:hover {
  box-shadow: 0px 0px 0px 1px white;
}
.catalog-card-buy__input-field.label--filled > label,
.catalog-card-buy__input-field input:focus ~ label,
.catalog-card-buy__input-field label:focus {
  -webkit-transform: translate(0, -17px);
          transform: translate(0, -17px);
  font-size: 10px;
}
.btn {
  text-align: center;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.menu__callback-btn--params {
  width: 100%;
  max-width: 180px;
  height: 54px;
  border-radius: 27px;
  border: none;
}
.menu__callback-btn--text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #2970f9;
  color: #8B24F2;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s ease;
}
.menu__callback-btn--text.__gg {
  position: absolute;
  bottom: -50px;
  color: white;
}
.menu__callback-btn--text.__primary {
  transition: 0.3s ease-in;
}
.menu__callback-btn {
  margin-left: 10px;
  order: 3;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 180px;
  height: 54px;
  border-radius: 27px;
  border: none;
  background-image: linear-gradient(121.19deg, #8B24F2 26.88%, #45BAF4 85.97%);
}
.menu__callback-btn--bg {
  z-index: 5;
  position: absolute;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background: white;
  border-radius: 25px;
  border: none;
  transition: 0.35s ease;
}
.menu__callback-btn.__hover:hover {
  -webkit-transform: rotate3d(0, 0, 1, 2deg);
          transform: rotate3d(0, 0, 1, 2deg);
}
.menu__callback-btn.__hover:hover .menu__callback-btn--bg {
  transition: 0.35s ease-in;
  -webkit-transform: translate(-180px, 0);
          transform: translate(-180px, 0);
}
.menu__callback-btn.__hover:hover .menu__callback-btn--text.__primary {
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
}
.menu__callback-btn.__hover:hover .menu__callback-btn--text.__gg {
  -webkit-animation: helloGG 0.35s ease-out 0.1s forwards;
          animation: helloGG 0.35s ease-out 0.1s forwards;
}
@-webkit-keyframes helloGG {
  0% {
    bottom: -50px;
  }
  100% {
    bottom: 20px;
  }
}
@keyframes helloGG {
  0% {
    bottom: -50px;
  }
  100% {
    bottom: 20px;
  }
}
.menu-callback-form__btn {
  z-index: 1;
  position: relative;
  overflow: hidden;
  height: 52px;
  border-radius: 26px;
  border: none;
  background: linear-gradient(121.19deg, #8B24F2 26.88%, #45BAF4 85.97%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.menu-callback-form__btn.__hover:hover .menu-callback-form__btn--bg {
  opacity: 0;
}
.menu-callback-form__btn.__hover:hover .menu-callback-form__btn--text {
  color: white;
}
.menu-callback-form__btn.__success .menu-callback-form__btn--bg {
  opacity: 0;
}
.menu-callback-form__btn.__success .menu-callback-form__btn--text {
  color: white;
}
.menu-callback-form__btn--bg {
  z-index: 3;
  position: absolute;
  background: white;
  width: calc(100% - 2px);
  height: 50px;
  border-radius: 25px;
  border: none;
  transition: 0.3s ease-out;
}
.menu-callback-form__btn--text {
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #333333;
  transition: 0.3s ease-out;
}
.menu-callback-form__input-field.__success-animation {
  -webkit-animation: ssAnimation 0.4s ease-out forwards;
          animation: ssAnimation 0.4s ease-out forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.menu-callback-form__input-field.__none {
  display: none;
}
@-webkit-keyframes ssAnimation {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes ssAnimation {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.promo__btn {
  z-index: 3;
  overflow: hidden;
  width: 180px;
  height: 56px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  border: none;
  position: relative;
  background-color: white;
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.48);
}
.promo__btn--bg {
  z-index: 4;
  width: 50%;
  height: 100%;
  background-color: #fff06d;
  border-radius: 28px;
  border: none;
  position: absolute;
}
.promo__btn--bg.__right {
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.promo__btn--bg.__left {
  left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.promo__btn--text {
  z-index: 10;
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
}
.promo__btn.__hover:hover {
  -webkit-transform: scale(1.02) translate(0, 2px);
          transform: scale(1.02) translate(0, 2px);
  -webkit-transform: translate(0, 2px);
          transform: translate(0, 2px);
}
.promo__btn.__hover:hover .promo__btn--text {
  color: #c058d9;
}
.promo__btn.__hover:hover .promo__btn--bg.__left {
  -webkit-animation: slipLeft 0.4s ease-out forwards;
          animation: slipLeft 0.4s ease-out forwards;
}
.promo__btn.__hover:hover .promo__btn--bg.__right {
  -webkit-animation: slipRight 0.4s ease-out forwards;
          animation: slipRight 0.4s ease-out forwards;
}
@-webkit-keyframes slipLeft {
  0% {
    left: -1px;
  }
  100% {
    left: -150px;
  }
}
@keyframes slipLeft {
  0% {
    left: -1px;
  }
  100% {
    left: -150px;
  }
}
@-webkit-keyframes slipRight {
  0% {
    right: -1px;
  }
  100% {
    right: -150px;
  }
}
@keyframes slipRight {
  0% {
    right: -1px;
  }
  100% {
    right: -150px;
  }
}
.promo__btn.__success {
  cursor: default;
  border: 1px solid red;
}
.promo__btn.__success .promo__btn--bg {
  display: none;
}
.promo__btn.__success .promo__btn--text.__primary {
  color: red;
}
.buy-now__btn {
  height: 50px;
  background-color: #ffffff;
  border-radius: 25px;
  border: none;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.buy-now__btn--bg {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff06d;
  border-radius: 25px;
  transition: 0.3s ease;
}
.buy-now__btn--text {
  z-index: 5;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  transition: 0.3s ease;
}
.buy-now__btn.__hover:hover {
  box-shadow: 0px 3px 2px 1px rgba(255, 245, 109, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.buy-now__btn.__hover:hover .buy-now__btn--bg {
  opacity: 0;
}
.callback-last__btn {
  background-color: #fff06d;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  border: none;
  transition: 0.3s ease;
}
.callback-last__btn.__hover:hover {
  background-color: white;
  box-shadow: 0px 3px 2px 1px rgba(255, 245, 109, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.catalog-item__btn {
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 210px;
  height: 50px;
  border-radius: 25px;
}
.catalog-item__btn:active {
  -webkit-transform: scale(0.97) !important;
          transform: scale(0.97) !important;
}
.catalog-item__btn--bg {
  cursor: pointer;
  z-index: 5;
  position: absolute;
  top: auto;
  left: auto;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 23px;
  transition: 0.3s ease-out;
}
.catalog-item__btn--text {
  cursor: pointer;
  z-index: 10;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s ease-out;
  position: relative;
  padding-left: 42px;
}
.catalog-item__btn--text::before {
  position: absolute;
  left: 0px;
  top: -1px;
  width: 22px;
  height: 20px;
  content: '';
  background: url('../img/card-icons/cart-white.svg') no-repeat center center;
  background-size: cover;
}
@-webkit-keyframes cartQuake {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  3% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }
  6% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  9% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
            transform: rotate3d(0, 0, 1, -15deg);
  }
  12% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  88% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  91% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
            transform: rotate3d(0, 0, 1, -15deg);
  }
  94% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  97% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes cartQuake {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  3% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }
  6% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  9% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
            transform: rotate3d(0, 0, 1, -15deg);
  }
  12% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  88% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  91% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
            transform: rotate3d(0, 0, 1, -15deg);
  }
  94% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
  97% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}
.catalog-item__btn.__hover:hover .catalog-item__btn--bg {
  box-shadow: inset 0px 0px 0px 2px white;
}
.catalog-item__btn.__hover:hover .catalog-item__btn--text:before {
  -webkit-animation: cartQuake 1.5s ease-out infinite forwards;
          animation: cartQuake 1.5s ease-out infinite forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.catalog-card-buy-form__btn {
  width: 200px;
  height: 56px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
}
.catalog-card-buy-form__btn--text {
  font-size: 18px;
  font-weight: 500;
}
.catalog-item__btn--params {
  width: 100%;
  height: 56px;
  border-radius: 28px;
  border: none;
}
.catalog-card-detail-form__btn {
  position: relative;
  transition: 0.3s ease;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 56px;
  border-radius: 28px;
  border: none;
  background-image: linear-gradient(127.96deg, #8B24F2 26.88%, #45BAF4 85.97%);
}
.catalog-card-detail-form__btn--bg {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background-image: linear-gradient(127.96deg, #45BAF4 26.88%, #8B24F2 85.97%);
  border-radius: 26px;
  border: none;
  transition: 0.4s ease-out;
}
.catalog-card-detail-form__btn--text {
  cursor: pointer;
  z-index: 10;
  color: #8B24F2;
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  font-weight: 300;
  transition: 0.3s ease-out;
}
.catalog-card-detail-form__btn.__hover:hover .catalog-card-detail-form__btn--bg {
  opacity: 0;
  -webkit-transform: translate(-200px, 0);
          transform: translate(-200px, 0);
}
.catalog-card-detail-form__btn.__hover:hover .catalog-card-detail-form__btn--text {
  color: white;
}
#menu-callback-popup {
  display: none;
  cursor: default;
}
.menu-callback-popup {
  width: 100%;
  max-width: 480px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 15px;
}
.popup__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.33;
  color: #24AEF2;
  margin-bottom: 10px;
}
.popup__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.33;
  color: #24AEF2;
  margin-bottom: 20px;
}
.menu-callback-form {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.menu-callback-form__input-field {
  width: 100%;
  margin-bottom: 15px;
}
.menu-callback-form__btn {
  width: 180px;
}
.menu-callback-form__comment {
  width: 100%;
  border-radius: 25px;
  padding: 15px 30px;
}
#menu-callback-popup {
  padding: 0;
  border-radius: 15px;
}
#menu-callback-popup .fancybox-close-small {
  z-index: 10;
  padding: 0;
  height: 20px;
  width: 20px;
  margin: 10px 10px 0 0;
  background: url('../img/close.svg') no-repeat center center;
  transition: 0.3s ease-out;
}
#menu-callback-popup .fancybox-close-small svg {
  display: none;
}
#menu-callback-popup .fancybox-close-small:hover {
  -webkit-transform: rotate3d(0, 0, 1, 90deg) scale(0.75);
          transform: rotate3d(0, 0, 1, 90deg) scale(0.75);
}
.fancybox-bg {
  background: #0b1526 !important;
}
#catalog-card-buy {
  display: none;
  cursor: default;
  padding: 0;
  border-radius: 15px;
}
.catalog-card-buy {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.catalog-card-buy__left {
  width: 100%;
  max-width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 40px 20px 40px 20px;
}
.catalog-card-buy__title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  color: #24aef2;
  text-align: left;
  margin-bottom: 20px;
}
.catalog-card-buy__img {
  width: 100%;
  max-width: 300px;
  height: 230px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid #D8DDE3;
  overflow: hidden;
}
.catalog-card-buy__img img {
  width: 100%;
  height: auto;
}
.catalog-card-buy__model-name {
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  color: #24aef2;
  text-align: center;
}
.catalog-card-buy__model-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  color: #24aef2;
  text-align: center;
}
.catalog-card-buy__right {
  background-color: #24AEF2;
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 55px 20px 55px 20px;
}
.catalog-card-buy__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}
.catalog-card-buy__text.__success {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  text-shadow: 1px 1px 5px #3a3a31;
}
.catalog-card-buy-form {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.catalog-card-buy__input-field {
  margin-bottom: 0;
}
#catalog-card-buy .fancybox-close-small {
  z-index: 10;
  padding: 0;
  height: 20px;
  width: 20px;
  margin: 15px 15px 0 0;
  background: url('../img/close--white.svg') no-repeat center center;
  transition: 0.3s ease-out;
}
#catalog-card-buy .fancybox-close-small svg {
  display: none;
}
#catalog-card-buy .fancybox-close-small:hover {
  -webkit-transform: rotate3d(0, 0, 1, 90deg) scale(0.75);
          transform: rotate3d(0, 0, 1, 90deg) scale(0.75);
}
.fancybox-bg {
  background: #0b1526 !important;
}
/* AB - тестирование */
/* 

	Преемственность стилей ( оранжевый --- зеленый )

*/
.catalog-card-buy[data-test='A'] .catalog-card-buy-form__btn {
  background: transparent;
  background: white;
  background: linear-gradient(to right, #ea6b22 0%, #f99b0e 100%);
  border: none;
  z-index: 3;
  position: relative;
  transition: 0.3s ease;
  overflow: hidden;
}
.catalog-card-buy[data-test='A'] .catalog-card-buy-form__btn--bg {
  background: linear-gradient(to right, #f99b0e 0%, #ea6b22 100%);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  width: 100%;
  height: 100%;
  border-radius: 26px;
  position: absolute;
  top: 0px;
  left: 201px;
  z-index: 5;
  transition: 0.3s ease;
}
.catalog-card-buy[data-test='A'] .catalog-card-buy-form__btn--text {
  z-index: 10;
  color: white;
  transition: 0.3s ease;
}
.catalog-card-buy[data-test='A'] .catalog-card-buy-form__btn.__hover:hover {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
  box-shadow: inset 0px 0px 0px 2px transparent;
}
.catalog-card-buy[data-test='A'] .catalog-card-buy-form__btn.__hover:hover .catalog-card-buy-form__btn--bg {
  -webkit-transform: translate(-201px, 0px);
          transform: translate(-201px, 0px);
}
.catalog-card-buy[data-test='A'] .catalog-card-buy-form__btn.__hover:hover .catalog-card-buy-form__btn--text {
  color: white;
}
.catalog-card-buy[data-test='B'] .catalog-card-buy-form__btn {
  background: linear-gradient(to right, #0ec539 0%, #47e72e 100%);
  border: none;
  z-index: 3;
  position: relative;
  transition: 0.3s ease;
  overflow: hidden;
}
.catalog-card-buy[data-test='B'] .catalog-card-buy-form__btn--bg {
  background: linear-gradient(to right, #47e72e 0%, #0ec539 100%);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  width: 100%;
  height: 100%;
  border-radius: 26px;
  position: absolute;
  top: 56px;
  left: auto;
  z-index: 5;
  transition: 0.3s ease;
}
.catalog-card-buy[data-test='B'] .catalog-card-buy-form__btn--text {
  z-index: 10;
  color: white;
  transition: 0.3s ease;
}
.catalog-card-buy[data-test='B'] .catalog-card-buy-form__btn.__hover:hover {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
  box-shadow: inset 0px 0px 0px 2px transparent;
}
.catalog-card-buy[data-test='B'] .catalog-card-buy-form__btn.__hover:hover .catalog-card-buy-form__btn--bg {
  -webkit-transform: translate(0, -56px);
          transform: translate(0, -56px);
}
.catalog-card-buy[data-test='B'] .catalog-card-buy-form__btn.__hover:hover .catalog-card-buy-form__btn--text {
  color: white;
}
#catalog-card-detail {
  display: none;
  cursor: default;
  padding: 40px 20px 40px 40px;
  border-radius: 15px;
}
.catalog-card-detail {
  width: 100%;
  max-width: 950px;
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows: 30px 30px 55px auto 190px;
  grid-template-areas: "img model" "img min" "img price" "img detail" "img form";
}
.catalog-card-detail__title-min {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #727577;
  text-align: left;
  grid-area: min;
}
.catalog-card-detail__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  align-self: center;
  grid-area: model;
}
.catalog-card-detail__price {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #727577;
  padding: 10px 0;
  align-self: center;
  grid-area: price;
  border-bottom: 1px dashed #727577;
}
.catalog-card-detail__price span {
  font-weight: 600;
}
.catalog-card-detail__info {
  padding: 15px 0;
  border-bottom: 1px dashed #727577;
  margin-bottom: 20px;
}
.catalog-card-detail__info-title {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #333333;
}
.catalog-card-detail__info-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
}
.catalog-card-detail-form {
  grid-area: form;
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 290px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.catalog-card-detail__input-field {
  margin-bottom: 15px;
}
.catalog-card-detail-swiper {
  grid-area: img;
  padding: 35px 50px 35px 50px;
  border: 2px solid #D8DDE3;
  margin-right: 30px;
  width: 100%;
  max-width: 570px;
  height: auto;
}
.swiper-wrapper {
  align-items: center;
}
.catalog-card-detail__img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.catalog-card-detail__img img {
  width: 100%;
  height: auto;
  max-height: 500px;
}
#catalog-card-detail .fancybox-close-small {
  z-index: 10;
  padding: 0;
  height: 20px;
  width: 20px;
  margin: 20px 20px 0 0;
  background: url('../img/close.svg') no-repeat center center;
  transition: 0.3s ease-out;
}
#catalog-card-detail .fancybox-close-small svg {
  display: none;
}
#catalog-card-detail .fancybox-close-small:hover {
  -webkit-transform: rotate3d(0, 0, 1, 90deg) scale(0.75);
          transform: rotate3d(0, 0, 1, 90deg) scale(0.75);
}
#catalog-card-detail .swiper-button-next,
#catalog-card-detail .swiper-button-prev {
  background-image: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #A8DEF8;
  transition: 0.3s ease;
}
#catalog-card-detail .swiper-button-next:hover,
#catalog-card-detail .swiper-button-prev:hover {
  background-color: #24AEF2;
}
#catalog-card-detail .swiper-button-next:focus::before,
#catalog-card-detail .swiper-button-prev:focus::before,
#catalog-card-detail .swiper-button-next:active::before,
#catalog-card-detail .swiper-button-prev:active::before {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}
#catalog-card-detail .swiper-button-next::before,
#catalog-card-detail .swiper-button-prev::before {
  content: '';
  background-image: url('../img/vector.png');
  background-size: cover;
  position: absolute;
  top: 8px;
  z-index: 15;
  width: 15px;
  height: 29px;
  transition: scale 0.3s ease;
}
#catalog-card-detail .swiper-button-next {
  right: -20px;
  -webkit-transform: rotate3d(0, 0, 1, 180deg);
          transform: rotate3d(0, 0, 1, 180deg);
}
#catalog-card-detail .swiper-button-next::before {
  right: 20px;
}
#catalog-card-detail .swiper-button-next:active::before {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}
#catalog-card-detail .swiper-button-prev {
  left: -20px;
}
#catalog-card-detail .swiper-button-prev::before {
  left: 12px;
}
/* AB - тестирование */
/* 

	Преемственность стилей ( оранжевый --- зеленый )

*/
.catalog-card-detail--text {
  font-size: 22px;
}
.catalog-card-detail[data-test='A'] .catalog-card-detail-form__btn {
  background: linear-gradient(to right, #f99b0e 0%, #ea6b22 100%);
  border: none;
}
.catalog-card-detail[data-test='A'] .catalog-card-detail-form__btn--bg {
  background: linear-gradient(to right, #ea6b22 0%, #f99b0e 100%);
}
.catalog-card-detail[data-test='A'] .catalog-card-detail-form__btn--text {
  color: white;
}
.catalog-card-detail[data-test='A'] .catalog-card-detail__price span {
  color: #ea6b22;
}
.catalog-card-detail[data-test='A'] .catalog-card-detail__title {
  color: #ea6b22;
}
.catalog-card-detail[data-test='A'] .catalog-card-detail__input-field input:focus,
.catalog-card-detail[data-test='A'] .catalog-card-detail__input-field input:hover {
  border-color: #ea6b22;
}
.catalog-card-detail[data-test='B'] .catalog-card-detail-form__btn {
  background: linear-gradient(to right, #47e72e 0%, #0ec539 100%);
  border: none;
}
.catalog-card-detail[data-test='B'] .catalog-card-detail-form__btn--bg {
  background: linear-gradient(to right, #0ec539 0%, #47e72e 100%);
}
.catalog-card-detail[data-test='B'] .catalog-card-detail-form__btn--text {
  color: white;
}
.catalog-card-detail[data-test='B'] .catalog-card-detail__price span {
  color: #0ec539;
}
.catalog-card-detail[data-test='B'] .catalog-card-detail__title {
  color: #0ec539;
}
.catalog-card-detail[data-test='B'] .catalog-card-detail__input-field input:focus,
.catalog-card-detail[data-test='B'] .catalog-card-detail__input-field input:hover {
  border-color: #0ec539;
}
#promo-popup-thx {
  display: none;
  cursor: default;
  border-radius: 15px;
  background-color: rgba(36, 174, 242, 0.75);
}
#promo-popup-thx .fancybox-close-small {
  z-index: 10;
  padding: 0;
  height: 15px;
  width: 15px;
  margin: 15px 15px 0 0;
  background: url('../img/close--white.svg') no-repeat center center;
  transition: 0.3s ease-out;
}
#promo-popup-thx .fancybox-close-small svg {
  display: none;
}
#promo-popup-thx .fancybox-close-small:hover {
  -webkit-transform: rotate3d(0, 0, 1, 90deg) scale(0.75);
          transform: rotate3d(0, 0, 1, 90deg) scale(0.75);
}
.promo-popup-thx {
  width: 100%;
  max-width: 290px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
.promo-popup-thx__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  color: white;
  margin-bottom: 10px;
}
.promo-popup-thx__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
}
.header {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.header__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.header-top {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  line-height: 16px;
  color: #a8acb1;
  background-color: #f3f3f3;
  padding: 10px 0;
}
.header-top__item {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.header-top__item p {
  position: relative;
}
.header-top__item p::before {
  position: absolute;
  left: 0;
  top: 0;
}
.header-top__item--main-phone {
  position: relative;
}
.header-top__item--main-phone span {
  transition: 0.3s ease;
  font-weight: 500;
  color: #24aef2;
}
.header-top__item--main-phone:hover span {
  color: #1973e8;
}
.header-top__item--time {
  padding-left: 25px;
}
.header-top__item--time:before {
  content: url('../img/menu_watch.svg');
}
.header-top__item--delivery {
  padding-left: 37px;
}
.header-top__item--delivery:before {
  content: url('../img/menu_delivery.svg');
}
.header-top__item--spb {
  padding-left: 28px;
}
.header-top__item--spb:before {
  content: url('../img/menu_phone.svg');
}
.header-bot {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  z-index: 9999;
  overflow-y: hidden;
}
.logo {
  font-size: 28px;
  margin-right: 10px;
  order: 0;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s ease-out;
  position: relative;
  background: linear-gradient(121.19deg, #8b24f2 26.88%, #45baf4 85.97%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 10px;
}
.logo.__hidden {
  display: none;
}
.logo:hover {
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
}
.logo-after {
  font-size: 13px;
  font-weight: 300;
  line-height: 1;
  color: #333;
}
.nav-menu__toggler {
  padding: 5px 10px 5px 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 25;
  height: 66px;
  cursor: pointer;
  display: none;
}
.nav-menu__toggler span {
  position: relative;
  width: 40px;
  height: 5px;
  transition: 0.4s ease;
  background-color: #24aef2;
}
.nav-menu__toggler span::before,
.nav-menu__toggler span::after {
  position: absolute;
  left: 0;
  content: '';
  background-color: #24aef2;
  height: 5px;
  width: 100%;
  transition: background-color 0s;
  transition: 0.4s ease;
}
.nav-menu__toggler span::before {
  top: -14px;
}
.nav-menu__toggler span::after {
  bottom: -14px;
}
.nav-menu {
  order: 2;
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.nav-menu__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: 9999;
  min-width: 450px;
}
.nav-menu__item {
  width: auto;
  margin: 0 10px;
}
.nav-menu__item:first-of-type {
  margin-left: 0;
}
.nav-menu__item:last-of-type {
  margin-right: 0;
}
.nav-menu__item a {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  transition: 0.2s ease;
}
.nav-menu__item.__hover:hover a {
  color: rgba(36, 174, 242, 0.75);
}
.nav-menu__item.__hidden {
  display: none;
}
.nav-menu--open .nav-menu__toggler span {
  background-color: transparent;
}
.nav-menu--open .nav-menu__toggler span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-menu--open .nav-menu__toggler span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav-menu--open .nav-menu__toggler span::before,
.nav-menu--open .nav-menu__toggler span::after {
  top: 0;
}
.nav-menu--open .nav-menu__list {
  padding: 25px 15px 15px 15px;
  border-bottom: 1px solid rgba(36, 174, 242, 0.75);
  border-top: 1px solid rgba(36, 174, 242, 0.75);
  overflow: hidden;
  width: 100%;
  height: 100vh;
  height: auto;
  transition: all 1s;
  -webkit-animation: rotateWrapper 0.6s ease-out forwards;
          animation: rotateWrapper 0.6s ease-out forwards;
}
.nav-menu--open .nav-menu__list .nav-menu__item {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  transition: opacity 0s, -webkit-transform 0.45s ease-out;
  transition: opacity 0s, transform 0.45s ease-out;
  transition: opacity 0s, transform 0.45s ease-out, -webkit-transform 0.45s ease-out;
}
.nav-menu--open .nav-menu__list .nav-menu__item:nth-child(1) {
  transition-delay: 0.1s;
}
.nav-menu--open .nav-menu__list .nav-menu__item:nth-child(2) {
  transition-delay: 0.15s;
}
.nav-menu--open .nav-menu__list .nav-menu__item:nth-child(3) {
  transition-delay: 0.2s;
}
.nav-menu--open .nav-menu__list .nav-menu__item:nth-child(4) {
  transition-delay: 0.25s;
}
.nav-menu--open .nav-menu__list .nav-menu__item:nth-child(5) {
  transition-delay: 0.3s;
}
.nav-menu--open .nav-menu__list .nav-menu__item:nth-child(6) {
  transition-delay: 0.35s;
}
@-webkit-keyframes rotateWrapper {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, -90deg);
            transform: rotate3d(1, 1, 0, -90deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
}
@keyframes rotateWrapper {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, -90deg);
            transform: rotate3d(1, 1, 0, -90deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
}
.promo {
  width: 100%;
  height: 520px;
  background: url('../img/promo-bg.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: stretch;
  overflow-x: hidden;
}
.promo__container {
  height: 100%;
  padding: 60px 15px 0 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.promo__dudes-img {
  z-index: 1;
  width: 100%;
  max-width: 739px;
  max-width: 800px;
  height: auto;
  position: absolute;
  right: -80px;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.promo__dudes-img img {
  width: 100%;
}
.promo__dudes-img.__hidden {
  display: none;
}
.promo-offer {
  z-index: 3;
  width: 100%;
  max-width: 700px;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
h1 {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.35;
  color: white;
  margin-bottom: 10px;
}
h2 {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
  color: #c2e5f4;
  color: #fff06d;
}
h2:nth-of-type(1) {
  margin-bottom: 15px;
}
.promo-cta {
  z-index: 3;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-bottom: 60px;
}
.promo-cta__title {
  color: #fff06d;
  color: #c2e5f4;
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}
.promo-cta__text {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35;
  margin: 8px 0;
}
.promo-form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.promo__input-field span {
  position: relative;
}
.promo__input-field span::before {
  position: absolute;
  width: 2px;
  height: 25px;
  background-color: #ffffff;
  top: 0px;
  left: 0px;
  content: '';
  -webkit-animation: tick 1.1s ease infinite;
          animation: tick 1.1s ease infinite;
}
@-webkit-keyframes tick {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes tick {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.bullets {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 80px 0;
}
.bullets__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 15px;
}
.bullets-item {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
}
.bullets-item__wrapper {
  height: 70px;
  width: 70px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.bullets-item__wrapper.__1 {
  background-color: rgba(192, 88, 217, 0.75);
}
.bullets-item__wrapper.__2 {
  background-color: rgba(36, 174, 242, 0.75);
}
.bullets-item__wrapper.__3 {
  background-color: rgba(41, 112, 249, 0.75);
}
.bullets-item__wrapper.__4 {
  background-color: rgba(242, 115, 191, 0.75);
}
.bullets-item__wrapper img {
  z-index: 10;
  transition: 1s ease;
}
.bullets-item__wrapper.__hover:hover .bullets-item__cover {
  -webkit-animation: rotateCover 1.2s;
          animation: rotateCover 1.2s;
}
.bullets-item__wrapper.__hover:hover img {
  -webkit-animation: rotateIcon 1s;
          animation: rotateIcon 1s;
}
.bullets-item__cover {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: white;
  transition: 0.666s ease;
}
@-webkit-keyframes rotateCover {
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg) rotate3d(1, 0, 0, 180deg) rotate3d(0, 1, 0, 180deg) rotate3d(0, 0, 1, -90deg);
            transform: rotate3d(0, 0, 1, 90deg) rotate3d(1, 0, 0, 180deg) rotate3d(0, 1, 0, 180deg) rotate3d(0, 0, 1, -90deg);
  }
}
@keyframes rotateCover {
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg) rotate3d(1, 0, 0, 180deg) rotate3d(0, 1, 0, 180deg) rotate3d(0, 0, 1, -90deg);
            transform: rotate3d(0, 0, 1, 90deg) rotate3d(1, 0, 0, 180deg) rotate3d(0, 1, 0, 180deg) rotate3d(0, 0, 1, -90deg);
  }
}
@-webkit-keyframes rotateIcon {
  100% {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, -360deg) translateZ(20px);
            transform: rotate3d(0, 0, 1, -360deg) translateZ(20px);
  }
}
@keyframes rotateIcon {
  100% {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, -360deg) translateZ(20px);
            transform: rotate3d(0, 0, 1, -360deg) translateZ(20px);
  }
}
@-webkit-keyframes scaleIcon {
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
@keyframes scaleIcon {
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
.catalog-block {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow-x: hidden;
  margin-bottom: 60px;
  padding: 60px 0 80px 0;
  background: url('../img/catalog-bg-piece.png');
}
.catalog-block__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #2f3444;
}
.catalog-block__title {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
}
.catalog-block__title + p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 40px;
}
.filter {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 30px;
  height: 28px;
  height: 48px;
}
.filter-title {
  padding: 3px 0;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  border-bottom: 2px solid transparent;
  margin-right: 20px;
}
.filter-item {
  font-size: 16px;
  font-weight: 400;
  color: #24AEF2;
  padding: 3px 0;
  transition: 0.3s ease-out;
  cursor: pointer;
  padding: 3px 12px;
  border-right: 2px solid #24AEF2;
  border-right: 1px solid #24AEF2;
  border-right: 1px solid #b6b6b6;
}
.filter-item.__active {
  color: #C058D9;
  font-weight: 500;
  text-decoration: underline;
  cursor: default;
}
.filter-item.__hover:hover {
  color: #C058D9;
}
.filter-item:last-child {
  margin-right: 0;
  border-right: none;
}
.catalog {
  background: white;
}
.swiper-wrapper.g {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.border-left {
  border-left: 1px solid #eaeaea;
}
.catalog-item {
  background: white;
  width: 100%;
  max-width: 25%;
  height: 535px;
  padding: 10px 15px 15px 15px;
  border: 1px solid #eaeaea;
  transition: 0.4s ease;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  position: relative;
}
.catalog-item.__hide {
  -webkit-animation: cardGG 0.7s linear forwards;
          animation: cardGG 0.7s linear forwards;
  -webkit-transform-origin: top;
          transform-origin: top;
}
@-webkit-keyframes cardGG {
  0% {
    max-width: 25%;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(400px, 0px);
            transform: scale(0) translate(400px, 0px);
    padding: 0;
    max-width: 0%;
  }
}
@keyframes cardGG {
  0% {
    max-width: 25%;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(0) translate(400px, 0px);
            transform: scale(0) translate(400px, 0px);
    padding: 0;
    max-width: 0%;
  }
}
.catalog-item.__box-shadow {
  box-shadow: inset 0px 0px 2px 1px rgba(192, 88, 217, 0.75);
}
.catalog-item:hover {
  box-shadow: 0 0 4px 1px rgba(53, 52, 52, 0.35);
}
.catalog-item .__sale-20-percent {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  display: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 0px 6px 4px 0px;
  width: 65px;
  height: 65px;
  border-bottom-right-radius: 65px;
  left: 0px;
  top: 0px;
  transition: 0.4s ease;
}
.catalog-item .__sale-20-percent p {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.catalog-item-img__wrapper {
  padding: 20px 20px 0 20px;
  overflow: hidden;
  cursor: pointer;
}
.catalog-item-img__wrapper:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.catalog-item-img__wrapper img {
  width: 100%;
  height: auto;
  max-height: 170px;
}
.catalog-item-img {
  z-index: 1;
  transition: 0.3s ease;
}
.catalog-item__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #333333;
  padding: 20px 0;
}
.catalog-item-chars {
  padding-left: 20px;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.catalog-item-chars__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  color: #333333;
  position: relative;
  margin-bottom: 10px;
}
.catalog-item-chars__text::before {
  position: absolute;
  left: -20px;
  top: 0px;
  width: 10px;
  height: 10px;
}
.catalog-item-chars__text.__micro:before {
  height: 15px;
}
.catalog-item-chars__text.__app:before {
  height: 15px;
}
.catalog-item-chars__text.__aqua:before {
  height: 14px;
}
.catalog-item-chars__text.__charge:before {
  height: 14px;
}
.catalog-item-chars__text.__micro:before {
  content: url('../img/card-icons/micro.svg');
}
.catalog-item-chars__text.__sound:before {
  content: url('../img/card-icons/volume.svg');
}
.catalog-item-chars__text.__db:before {
  content: url('../img/card-icons/sensitivity.svg');
}
.catalog-item-chars__text.__noize:before {
  content: url('../img/card-icons/mute.svg');
}
.catalog-item-chars__text.__app:before {
  content: url('../img/card-icons/iphone.svg');
  top: -1px;
}
.catalog-item-chars__text.__3d:before {
  content: url('../img/card-icons/3d.svg');
}
.catalog-item-chars__text.__aqua:before {
  content: url('../img/card-icons/aqua.svg');
}
.catalog-item-chars__text.__charge:before {
  content: url('../img/card-icons/charge.svg');
  top: 1px;
}
.catalog-item__btn-details {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: #24AEF2;
  cursor: pointer;
  transition: 0.25s ease;
  border-bottom: 2px dashed #24AEF2;
  justify-self: start;
}
.catalog-item__price {
  margin: 20px 0;
  font-weight: 400;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.catalog-item__price--price {
  font-size: 22px;
  font-weight: 500;
}
.catalog-item__price--price[data-test='B'] {
  color: #0ec539;
}
.catalog-item__price--del {
  color: #878991;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}
.catalog-item__price--del.__d-none {
  display: none;
}
.catalog-item__btn {
  justify-self: center;
  max-width: 240px;
  max-width: 100%;
}
.catalog-item__img-galery {
  display: none;
}
#catalog .swiper-button-prev,
#catalog .swiper-button-next {
  top: auto;
  bottom: -55px;
  opacity: 0;
  background-image: none;
  width: 140px;
  height: 46px;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(46px - 2px);
  text-align: center;
  border: 1px solid #a8acb1;
}
#catalog .swiper-button-prev:hover,
#catalog .swiper-button-next:hover {
  border-color: #9e1bfb;
}
#catalog .swiper-button-prev:active,
#catalog .swiper-button-next:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
#catalog .swiper-button-prev {
  left: 0px;
}
#catalog .swiper-button-next {
  right: 0px;
}
/* AB - тестирование */
/* 

	Изменения только в карточке товара ( оранжевый --- зеленый )

*/
.catalog-item[data-test="A"] .__sale-20-percent {
  background: linear-gradient(to right, #f99b0e 0%, #ea6b22 100%);
}
.catalog-item[data-test="A"] .catalog-item__btn {
  background: linear-gradient(to right, #f99b0e 0%, #ea6b22 100%);
}
.catalog-item[data-test="A"] .catalog-item__price--price {
  color: #ea6b22;
}
.catalog-item[data-test="A"] .catalog-item__btn-details.__hover:hover {
  color: #ea6b22;
  border-color: #ea6b22;
}
.catalog-item[data-test="B"] .__sale-20-percent {
  background: linear-gradient(to right, #47e72e 0%, #0ec539 100%);
}
.catalog-item[data-test="B"] .catalog-item__btn {
  background: linear-gradient(to right, #47e72e 0%, #0ec539 100%);
}
.catalog-item[data-test="B"] .catalog-item__price--price {
  color: #0ec539;
}
.catalog-item[data-test="B"] .catalog-item__btn-details.__hover:hover {
  color: #0ec539;
  border-color: #0ec539;
}
.pain {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 40px 0;
  overflow: hidden;
}
.pain__title {
  padding: 0 15px;
  width: 100%;
  max-width: 1170px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.33;
  color: #333333;
  text-align: center;
  margin-bottom: 40px;
}
.pain__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.pain-item__title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  color: #333333;
  margin-bottom: 20px;
  position: relative;
}
.pain-item__title::before {
  content: '';
  position: absolute;
  bottom: -10px;
  height: 3px;
  width: 100px;
  background-color: rgba(41, 112, 249, 0.75);
}
.pain-item__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #333333;
}
.pain-item__img {
  z-index: 999;
  background: white;
  width: 100%;
  max-width: 375px;
  height: 375px;
  overflow: hidden;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(36, 174, 242, 0.75);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.pain-item__img img {
  width: 100%;
  height: auto;
}
.pain-item__content {
  z-index: 999;
  width: 100%;
  max-width: 520px;
  margin-bottom: 60px;
}
.pain-col {
  width: 100%;
  max-width: 50%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.pain-col__left {
  align-items: flex-end;
  margin-right: 15px;
}
.pain-col__left .pain-item__title,
.pain-col__left .pain-item__text {
  text-align: right;
}
.pain-col__left .pain-item__title::before,
.pain-col__left .pain-item__text::before {
  right: 0;
}
.pain-col__right {
  align-items: flex-start;
  margin-left: 15px;
  padding-top: 40px;
}
.bubble {
  position: absolute;
}
.bubble-1 {
  left: 50px;
  top: 20px;
}
.bubble-2 {
  left: -70px;
  top: 140px;
}
.bubble-3 {
  left: -50px;
  top: 400px;
}
.bubble-4 {
  left: -10px;
  top: 780px;
}
.bubble-5 {
  left: 60px;
  top: 1050px;
}
.bubble-6 {
  left: -40px;
  top: 1350px;
}
.bubble-r1 {
  right: 50px;
  top: 40px;
}
.bubble-r2 {
  right: -100px;
  top: 220px;
}
.bubble-r3 {
  right: 20px;
  top: 540px;
}
.bubble-r4 {
  right: 40px;
  top: 690px;
}
.bubble-r5 {
  right: 60px;
  top: 1050px;
}
.bubble-r6 {
  right: 290px;
  top: 1375px;
}
.bubble-r7 {
  right: 40px;
  top: 1460px;
}
.bubble-1,
.bubble-3,
.bubble-5,
.bubble-r1,
.bubble-r3,
.bubble-r5,
.bubble-r7 {
  -webkit-animation: bumbleS 14s ease-out infinite forwards;
          animation: bumbleS 14s ease-out infinite forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.bubble-2,
.bubble-4,
.bubble-6,
.bubble-r2,
.bubble-r4,
.bubble-r6 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation: bumbleS 17s ease-out infinite forwards;
          animation: bumbleS 17s ease-out infinite forwards;
}
@-webkit-keyframes bumbleS {
  25% {
    -webkit-transform: scale(1.1) rotate3d(1, 1, 0, 15deg);
            transform: scale(1.1) rotate3d(1, 1, 0, 15deg);
  }
  50% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  75% {
    -webkit-transform: scale(0.9) rotate3d(1, 1, 0, -15deg);
            transform: scale(0.9) rotate3d(1, 1, 0, -15deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
}
@keyframes bumbleS {
  25% {
    -webkit-transform: scale(1.1) rotate3d(1, 1, 0, 15deg);
            transform: scale(1.1) rotate3d(1, 1, 0, 15deg);
  }
  50% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  75% {
    -webkit-transform: scale(0.9) rotate3d(1, 1, 0, -15deg);
            transform: scale(0.9) rotate3d(1, 1, 0, -15deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
}
.pain-mobile {
  display: none;
}
.about {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.about__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.about__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 1;
  color: #333333;
  text-align: center;
  margin-bottom: 40px;
}
.about__wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.about__wrapper:nth-of-type(2) {
  margin-bottom: 0;
}
.about__wrapper:nth-of-type(2) .about-content {
  order: 2;
}
.about-content {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.about-content__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-bottom: 40px;
}
.about-content__item:last-of-type {
  margin-bottom: 0;
}
.about-content__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: #24aef2;
  padding-left: 40px;
  margin-bottom: 15px;
  position: relative;
}
.about-content__title::before {
  position: absolute;
  left: 0px;
  top: 0px;
}
.about-content__title.__battery:before {
  content: url('../img/about_battery.svg');
}
.about-content__title.__aqua:before {
  top: 2px;
  left: 5px;
  content: url('../img/about_aqua.svg');
}
.about-content__title.__bluetooth:before {
  content: url('../img/about_bluetooth.svg');
}
.about-content__title.__case:before {
  top: 2px;
  content: url('../img/about_case.svg');
}
.about-content__title.__time:before {
  top: 3px;
  content: url('../img/about_time.svg');
}
.about-content__title.__sensor:before {
  width: 22px;
  height: 30px;
  left: 0;
  content: url(../img/about_sensor.svg);
  top: 0px;
}
.about-content__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #333333;
}
.about-img {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.about-img img {
  width: 100%;
  height: auto;
}
.buy-now {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: url('../img/buy-now-bg.png') no-repeat center center;
  background-size: cover;
  padding: 45px 0;
}
.buy-now__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 840px;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px 15px;
}
#buy-now .buy-now__container {
  max-width: 1000px;
  border-radius: 50px;
}
.buy-now__title {
  color: white;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.buy-now__title::after {
  content: '';
  background-color: white;
  position: absolute;
  bottom: -12px;
  height: 4px;
  left: calc(50% - 60px);
  width: 120px;
}
.buy-now__text {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.33;
  color: white;
  text-align: center;
  width: 100%;
  max-width: 870px;
  margin-bottom: 15px;
}
.buy-now__text:last-of-type {
  margin-bottom: 25px;
  max-width: 560px;
}
.buy-now-form {
  display: flex;
  flex-flow: row nowrap;
}
.buy-now__btn {
  width: 220px;
}
.buy-now__btn.__success {
  border: 2px solid white;
  background-color: transparent;
}
.buy-now__btn.__success .buy-now__btn--bg {
  display: none;
}
.buy-now__btn.__success .buy-now__btn--text {
  color: white;
  font-weight: 600;
}
.buy-now__btn:active {
  -webkit-transform: scale(0.97) !important;
          transform: scale(0.97) !important;
}
.buy-now__input-field {
  margin-right: 40px;
}
.buy-now__input-field input {
  width: 230px;
  color: white!important;
}
.delivery {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.delivery__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 15px 60px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.delivery-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
  text-align: left;
}
.delivery-item__title {
  font-size: 35px;
  font-weight: 400;
  color: #333333;
  text-align: left;
  margin-bottom: 30px;
}
.delivery-item__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.33;
  margin-bottom: 10px;
}
.delivery-item__text span {
  font-weight: 600;
  color: white;
  line-height: 2;
  padding: 3px 10px;
  border-radius: 16px;
  border: none;
  background-color: #24AEF2;
}
.delivery-item ul {
  width: 100%;
  padding-left: 20px;
  color: #333333;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.delivery-item ul li {
  position: relative;
  margin-bottom: 10px;
}
.delivery-item ul li::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #a8acb1;
  left: -20px;
  top: 7px;
}
.contacts {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 60px 0;
}
.contacts__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.contacts__wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
.callback-last {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 80px 0;
  background: url('../img/callback-last-bg.png') no-repeat center center;
}
.callback-last__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.callback-last__title {
  font-size: 35px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: white;
}
.callback-last__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.33;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
.callback-last-form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
}
.callback-last__input-field input {
  width: 100%;
  max-width: 250px;
}
.callback-last__input-field:nth-child(2) {
  margin: 0 30px;
}
.callback-last__btn {
  width: 100%;
  max-width: 250px;
}
.callback-last__btn.__success {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 600;
}
.footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.footer p,
.footer a {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
  color: #a8acb1;
}
.footer a {
  line-height: 1.5;
  text-decoration: underline;
}
.footer__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
/* ТУТ ВСЕ ЧТО МЕНЬШЕ( MAX-wdith ) */
@media screen and (min-width: 1200.01px) {
  .container {
    max-width: 1200px;
  }
  .header-top__item {
    max-width: 1200px;
  }
  .header-bot {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
  .header-top__item--moscow {
    display: none;
  }
  .promo__dudes-img {
    max-width: 720px;
    right: -60px;
  }
  .promo-cta {
    max-width: 420px;
  }
}
@media screen and (max-width: 1024px) {
  .nav-menu__item {
    margin: 0 5px;
  }
  .nav-menu {
    padding: 0 5px;
  }
  .header-top__item--spb {
    display: none;
  }
  .promo {
    height: 490px;
  }
  .promo__container {
    padding-top: 40px;
  }
  .promo__dudes-img {
    max-width: 600px;
  }
  .promo-cta {
    padding-bottom: 40px;
  }
  .swiper-wrapper.g {
    max-width: 750px;
    justify-content: flex-start;
    border-bottom: none;
  }
  .catalog-item {
    min-width: 250px;
    max-width: 250px;
    height: ;
  }
  .catalog-item.__hide {
    -webkit-animation: none;
            animation: none;
    display: none;
  }
  .catalog-item__price.__del:before {
    bottom: 26px;
  }
  .buy-now__input-field {
    margin-right: 20px;
  }
  .delivery__container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 900px) {
  .logo.__hidden {
    line-height: 30px;
    display: flex;
    flex-flow: row nowrap;
    background: transparent;
    color: #8b24f2;
    -webkit-background-clip: auto;
    -webkit-text-fill-color: inherit;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .logo-wrapper {
    display: none;
  }
  .header-top {
    background-color: transparent;
    border-bottom: 1px dashed #a8acb1;
  }
  .header-top__item {
    align-items: center;
  }
  .header-top__item--time,
  .header-top__item--delivery {
    display: none;
  }
  .header-top__item--main-phone {
    font-size: 16px;
    line-height: 30px;
  }
  .header-top__item--spb {
    margin-left: auto;
    margin-right: 30px;
    padding-left: 0;
  }
  .header-top__item--spb::before {
    content: none;
  }
  .nav-menu {
    padding: 0;
  }
  .promo__dudes-img {
    -webkit-filter: brightness(0.75);
            filter: brightness(0.75);
  }
  #catalog-card-detail {
    padding: 25px 20px 25px 20px;
  }
  #catalog-card-detail .fancybox-close-small {
    height: 16px;
    width: 16px;
    margin: 15px 15px 0 0;
  }
  #catalog-card-detail .swiper-button-prev,
  #catalog-card-detail .swiper-button-next {
    width: 35px;
    height: 35px;
  }
  #catalog-card-detail .swiper-button-prev::before,
  #catalog-card-detail .swiper-button-next::before {
    width: 10px;
    height: 22px;
  }
  #catalog-card-detail .swiper-button-prev:before {
    top: 6px;
    left: 10px;
  }
  #catalog-card-detail .swiper-button-next:before {
    top: 6px;
    right: 15px;
  }
  .catalog-card-detail-swiper {
    padding: 20px 20px;
    margin-right: 20px;
  }
  .catalog-card-detail {
    width: 100%;
    max-width: 950px;
    grid-template-columns: 520px 1fr;
  }
  .catalog-card-detail-swiper {
    max-width: 500px;
  }
  .catalog-card-detail__img {
    max-height: 450px;
  }
  .buy-now__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .buy-now__title {
    text-align: center;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .footer__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .footer__container p {
    text-align: center;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 800px) {
  .swiper-wrapper.g {
    max-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .header-bot {
    justify-content: flex-start;
    padding: 10px 15px;
    background-color: #f3f3f3;
    background: white;
  }
  .menu__callback-btn {
    margin-left: 0;
    height: 46px;
  }
  .menu__callback-btn:active {
    -webkit-transform: translate(0, -2px);
            transform: translate(0, -2px);
    box-shadow: 0px 2px 2px 0px rgba(71, 71, 71, 0.5);
  }
  .menu__callback-btn:active .menu__callback-btn--text {
    color: white;
  }
  .menu__callback-btn:active .menu__callback-btn--bg {
    opacity: 0;
  }
  .menu__callback-btn--bg {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }
  .nav-menu {
    width: calc(100% - 30px);
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    padding: 0 15px;
  }
  .nav-menu__toggler {
    display: flex;
    align-self: flex-end;
  }
  .nav-menu__list {
    width: 100%;
    min-width: 0;
    height: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    overflow: hidden;
    position: absolute;
    top: 66px;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .nav-menu__item {
    opacity: 0;
    margin: 0;
    width: 100%;
    -webkit-transform: translate(1000px, 0);
            transform: translate(1000px, 0);
    transition: opacity 0.5s ease, -webkit-transform 0.7s ease-out;
    transition: opacity 0.5s ease, transform 0.7s ease-out;
    transition: opacity 0.5s ease, transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
  }
  .nav-menu__item:last-of-type {
    border-bottom: none;
  }
  .nav-menu__item:nth-child(1) {
    transition-delay: 0.35s;
  }
  .nav-menu__item:nth-child(2) {
    transition-delay: 0.3s;
  }
  .nav-menu__item:nth-child(3) {
    transition-delay: 0.25s;
  }
  .nav-menu__item:nth-child(4) {
    transition-delay: 0.2s;
  }
  .nav-menu__item:nth-child(5) {
    transition-delay: 0.15s;
  }
  .nav-menu__item:nth-child(6) {
    transition-delay: 0.1s;
  }
  .nav-menu__item a {
    font-size: 20px;
    line-height: 2;
    color: #333333;
  }
  .nav-menu__item.__hidden {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #a8acb1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .nav-menu__item.__hidden p {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 16px;
    color: #a8acb1;
    text-align: right;
  }
  .nav-menu__item.__hidden p:before {
    content: none;
  }
  .nav-menu__item.__hidden p a {
    color: #a8acb1;
    font-size: 16px;
    line-height: 1;
  }
  .nav-menu__item.__hidden .header-top__item--time,
  .nav-menu__item.__hidden .header-top__item--delivery,
  .nav-menu__item.__hidden .header-top__item--spb,
  .nav-menu__item.__hidden .header-top__item--moscow {
    display: flex;
  }
  .header-bot {
    flex-wrap: wrap;
  }
  .promo {
    height: 450px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  .promo-cta__title {
    font-size: 22px;
  }
  .promo-cta__text {
    font-size: 14px;
    margin: 5px 0 15px 0;
  }
  .bullets {
    padding: 40px 0;
  }
  .bullets__container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .bullets-item {
    width: calc(50% - 10px);
    margin-bottom: 30px;
  }
  .bullets-item__wrapper {
    margin-bottom: 20px;
  }
  .catalog-block__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .filter {
    margin-bottom: 20px;
  }
  #catalog-card-detail .swiper-button-next,
  #catalog-card-detail .swiper-button-prev {
    display: none;
  }
  .catalog-card-detail {
    max-width: 950px;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 20px 50px auto auto 190px;
    grid-template-areas: "model" "min" "price" "img" "detail" "form";
  }
  .catalog-card-detail {
    padding: 0;
  }
  .catalog-card-detail__price {
    border: 0;
  }
  .catalog-card-detail-swiper {
    margin-right: 0;
    max-width: 420px;
  }
  .pain__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .pain-item__title {
    font-size: 18px;
  }
  .pain-item__text {
    font-size: 14px;
    line-height: ;
  }
  .pain-item__img {
    max-width: 250px;
    height: 250px;
  }
  .bubble-r5,
  .bubble-6,
  .bubble-3,
  .bubble-2,
  .bubble-r4 {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  @-webkit-keyframes bumbleS {
    25% {
      -webkit-transform: scale(0.9) rotate3d(1, 1, 0, 15deg);
              transform: scale(0.9) rotate3d(1, 1, 0, 15deg);
    }
    50% {
      -webkit-transform: scale(0.75) rotate3d(1, 1, 0, 0deg);
              transform: scale(0.75) rotate3d(1, 1, 0, 0deg);
    }
    75% {
      -webkit-transform: scale(0.6) rotate3d(1, 1, 0, -15deg);
              transform: scale(0.6) rotate3d(1, 1, 0, -15deg);
    }
    100% {
      -webkit-transform: scale(0.75) rotate3d(1, 1, 0, 0deg);
              transform: scale(0.75) rotate3d(1, 1, 0, 0deg);
    }
  }
  @keyframes bumbleS {
    25% {
      -webkit-transform: scale(0.9) rotate3d(1, 1, 0, 15deg);
              transform: scale(0.9) rotate3d(1, 1, 0, 15deg);
    }
    50% {
      -webkit-transform: scale(0.75) rotate3d(1, 1, 0, 0deg);
              transform: scale(0.75) rotate3d(1, 1, 0, 0deg);
    }
    75% {
      -webkit-transform: scale(0.6) rotate3d(1, 1, 0, -15deg);
              transform: scale(0.6) rotate3d(1, 1, 0, -15deg);
    }
    100% {
      -webkit-transform: scale(0.75) rotate3d(1, 1, 0, 0deg);
              transform: scale(0.75) rotate3d(1, 1, 0, 0deg);
    }
  }
  .pain-item__content {
    margin-bottom: 40px;
  }
  .pain-col__left {
    margin-right: 0;
  }
  .pain-col {
    align-items: center;
  }
  .about__title {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .about__wrapper {
    display: flex;
    flex-flow: column nowrap;
  }
  .about__wrapper:last-of-type .about-content {
    order: 0;
  }
  .about-content__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .about-content__text {
    font-size: 14px;
  }
  .about-content__item {
    margin-bottom: 25px;
  }
  .about-content__item:last-of-type {
    margin-bottom: 25px;
  }
  .about-img {
    max-width: 350px;
  }
  .buy-now__title {
    font-size: 30px;
  }
  .buy-now__text {
    font-size: 20px;
  }
  .buy-now {
    padding: 40px 0;
  }
  .delivery__container {
    padding: 25px 15px 25px 15px;
  }
  .contacts {
    padding: 25px 0;
  }
  .contacts__container {
    align-items: center;
  }
  .contacts__wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .delivery-item__title {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .delivery-item__text,
  .delivery-item ul li {
    font-size: 14px;
  }
  .delivery-item__text:last-of-type,
  .delivery-item ul li:last-of-type {
    margin-bottom: 0;
  }
  .delivery-item {
    margin-bottom: 25px;
  }
  .callback-last {
    padding: 40px 0;
    background: linear-gradient(105.24deg, #2D8CF4 23.34%, #64BDE3 68.92%);
  }
  .callback-last-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .callback-last__input-field {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .callback-last__input-field input {
    max-width: 290px;
  }
  .callback-last__input-field:nth-child(2) {
    margin: 0 0 15px 0;
  }
  .callback-last__btn {
    max-width: 290px;
  }
  .callback-last__title {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 10px;
  }
  .callback-last__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  .catalog-block {
    margin-bottom: 30px;
  }
  .filter {
    display: none;
  }
  .filter-item {
    margin-right: 25px;
  }
  .grid-center {
    justify-self: center;
    align-self: center;
  }
  #catalog .swiper-button-prev,
  #catalog .swiper-button-next {
    opacity: 1;
    transition: 0.3s ease;
  }
  .catalog {
    width: 360px;
    position: relative;
    background: url('../img/catalog-bg-piece.png');
    border: none;
  }
  .catalog-item {
    max-width: 360px;
    height: 360px;
    height: auto;
    padding: 20px 15px 15px 15px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 40px 90px auto 50px 60px 60px;
    margin-bottom: 25px;
    grid-template-areas: "model model" "img char" ". char" "detail detail" "price price" "btn btn";
  }
  .catalog-item.__sale-20-percent:before {
    justify-content: flex-start;
    left: auto;
    top: -52px;
    right: -25px;
    padding-right: 0;
    padding-left: 19px;
    padding-bottom: 14px;
    width: 90px;
    height: 90px;
    font-size: 15px;
  }
  .swiper-wrapper.g {
    display: flex;
    flex-flow: column nowrap;
  }
  .catalog-item-img__wrapper {
    padding: 0px;
    grid-area: img;
    min-width: 100px;
    width: 100%;
    max-width: 100px;
    border: 1px solid #9e1bfb;
    border: 1px solid #eaeaea;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .catalog-item-img__wrapper img {
    min-width: 80px;
    max-width: 80px;
  }
  .catalog-item-img__wrapper .__sale-20-percent {
    left: auto;
    right: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 65px;
    padding-right: 0;
    padding-left: 6px;
  }
  .catalog-item-img__wrapper .__sale-20-percent p {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .catalog-item__title {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px dashed #a8acb1;
    border-bottom: 1px solid #a8acb1;
    border-bottom: 1px dashed rgba(36, 174, 242, 0.55);
    text-align: left;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    align-self: top;
    grid-area: model;
    justify-self: start;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .catalog-item__price {
    font-size: 20px;
    padding: 0;
    grid-area: price;
    justify-self: center;
    align-self: center;
  }
  .catalog-item__btn {
    margin: 0;
    grid-area: btn;
    justify-self: center;
    align-self: center;
  }
  .catalog-item-chars {
    padding: 0px 0px 0px 15px;
    margin-left: 5px;
    grid-area: char;
    justify-self: center;
  }
  .catalog-item-chars__text {
    font-size: 13px;
    margin-bottom: 8px;
  }
  .catalog-item-chars__text:nth-of-type(4) {
    margin-bottom: 0;
  }
  .catalog-item-chars__text::before {
    left: -15px;
    top: ;
    height: 12px;
    width: 8px;
  }
  .catalog-item__btn-details {
    font-size: 18px;
    grid-area: detail;
    align-self: center;
    justify-self: center;
    height: 30px;
  }
  .border-none {
    border: none;
    border-radius: 0;
  }
  .catalog-card-buy {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 320px;
    border: none;
    border-radius: 0;
  }
  .catalog-card-buy__left {
    padding: 30px 15px 30px 15px;
    max-width: 100%;
    border: none;
    border-radius: 0;
    grid-template-columns: 100px 1fr;
    grid-template-areas: "title title" "img model" "img price";
  }
  .catalog-card-buy__title {
    grid-area: title;
    justify-self: center;
  }
  .catalog-card-buy__img {
    max-width: 100px;
    height: 100px;
    padding: 10px;
    grid-area: img;
  }
  .catalog-card-buy__model-name {
    align-self: center;
    grid-area: model;
    font-size: 18px;
    line-height: 1.5;
  }
  .catalog-card-buy__model-price {
    align-self: center;
    grid-area: price;
    font-size: 18px;
    line-height: 1.5;
  }
  .catalog-card-buy__right {
    max-width: 100%;
    border: none;
    border-radius: 0;
    padding: 30px 15px 30px 15px;
  }
  .catalog-card-buy__text {
    margin-bottom: 30px;
  }
  .catalog-card-buy__input-field {
    margin-bottom: 20px;
  }
  #catalog-card-buy .fancybox-close-small {
    background: url('../img/close.svg') no-repeat center center;
    margin: 10px 10px 0 0;
    width: 16px;
    height: 16px;
  }
  .pain__title {
    position: relative;
    margin-bottom: 35px;
  }
  .pain__title::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: rgba(36, 174, 242, 0.75);
    bottom: -7px;
    left: calc(50% - 150px / 2);
  }
  .pain-col {
    display: none;
  }
  .pain-mobile {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .pain-item__img {
    max-width: 100%;
    height: 190px;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: none;
  }
  .pain-item__img img {
    width: 200px;
  }
  .pain-item__content {
    max-width: 100%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px dashed rgba(192, 88, 217, 0.5);
  }
}
@media screen and (max-width: 500px) {
  .header-top__item--main-phone span {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
  }
  .promo {
    height: auto;
    background: white;
  }
  .promo__container {
    padding: 0;
  }
  h1 {
    margin: 0;
    padding: 20px 15px;
    background: linear-gradient(169.51deg, #45BAF4 34.66%, rgba(36, 81, 242, 0.81) 82.45%);
    max-width: 100%;
  }
  h2 {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 400px;
    max-width: 100%;
    color: #333333;
    padding: 0 15px;
  }
  h2:first-of-type {
    padding-top: 20px;
    margin-bottom: 10px;
  }
  h2:last-of-type {
    margin-bottom: 160px;
  }
  .promo-cta {
    max-width: 100%;
    padding: 30px 15px;
    background: linear-gradient(152.44deg, rgba(36, 81, 242, 0.81) 17.4%, #45BAF4 66.28%);
  }
  .promo__dudes-img {
    display: none;
  }
  .promo-cta {
    position: relative;
  }
  .promo__dudes-img.__hidden {
    z-index: -1;
    display: flex;
    max-width: 120px;
    bottom: calc(100% + 10px);
    right: 0px;
    right: calc(50% - 60px);
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  .promo__input-field input,
  .promo__input-field.label--filled input {
    width: 200px;
    padding-right: 0;
  }
  .buy-now {
    background: linear-gradient(112.59deg, #40BDFA 27.82%, #8564E3 70.27%);
  }
  .buy-now-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    max-width: 290px;
  }
  .buy-now__input-field {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .buy-now__btn,
  .buy-now__input-field input {
    width: 100%;
  }
  #catalog-card-detail {
    padding: 20px 15px;
  }
  .catalog-card-detail-swiper {
    max-width: 290px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 425px) {
  .header-top__item--main-phone {
    font-size: 14px;
  }
  .logo.__hidden,
  .header-top__item--main-phone span {
    font-size: 18px;
  }
  .promo-form {
    display: flex;
    flex-flow: column nowrap;
  }
  .promo__input-field input,
  .promo__input-field.label--filled input {
    width: 100%;
    max-width: 290px;
    padding-right: 30px;
  }
  .promo__input-field {
    margin-bottom: 15px;
  }
  .promo__btn {
    width: 100%;
    max-width: 290px;
  }
  .bullets-item {
    width: 100%;
    max-width: 300px;
  }
  .bullets-item:last-child {
    margin-bottom: 0;
  }
  .bullets-item__wrapper {
    margin-bottom: 20px;
  }
  .bullets-item__title {
    font-size: 14px;
  }
  .catalog {
    width: 290px;
  }
  .catalog-item {
    width: 100%;
    grid-template-rows: 40px 80px auto 50px 60px 60px;
    border-color: #939393;
  }
  .catalog-item.__sale-20-percent:before {
    justify-content: flex-start;
    width: 90px;
    height: 90px;
    font-size: 15px;
    left: auto;
    right: -35px;
    top: -35px;
    padding: 0;
    padding-left: 12px;
    padding-bottom: 22px;
  }
  .catalog-item-img__wrapper {
    max-width: 80px;
    min-width: 80px;
  }
  .catalog-item-img__wrapper img {
    min-width: 60px;
    max-width: 60px;
  }
}
